@use './themes.scss' as *;

.app-container {
  @include use-theme {
    color: get-var('--yolo-text');
    background: get-var('--yolo-bg');
  }

  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;

  .app-header {
    @include use-theme {
      color: get-var('--yolo-text');
      background: get-var('--yolo-card-bg');
      box-shadow: get-var('--yolo-header-shadow');
    }

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    height: 3.75rem;
    transition: transform 0.3s ease;
    transform: translateZ(0);
    flex: 0 0 auto;

    &.header-hidden {
      transform: translateY(-100%);
    }

    .header-container {
      @include use-theme {
        color: get-var('--yolo-text');
        background: get-var('--yolo-card-bg');
      }

      overflow-x: hidden;
      display: flex;
      max-width: 90rem;
      height: 3.75rem;
      margin: auto;
      padding: 0 0.75rem;

      @media screen and (width <= 52rem) {
        justify-content: space-between;
      }

      .header-left {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        height: 100%;

        > .ant-btn {
          @include use-theme {
            color: get-var('--yolo-header-btn-text');
            background: get-var('--yolo-header-btn-bg');
            border-color: get-var('--yolo-header-btn-border');

            &:hover {
              border-color: get-var('--yolo-header-btn-border-hover');
            }
          }

          display: none;
          margin-right: 0.75rem;

          @media screen and (width <= 52rem) {
            display: block;
          }
        }

        a {
          display: flex;
          height: 100%;
          line-height: 3.75rem;
          text-decoration: none;
          color: inherit;
          align-items: center;
          cursor: pointer;
          margin-right: 0.75rem;

          .blog-logo {
            width: 40px;
            height: 40px;
          }

          .blog-name {
            padding-left: 0.75rem;
            font-size: 1.25rem;
            font-weight: bold;

            @media screen and (width <= 34rem) {
              display: none;
            }
          }
        }
      }

      .header-nav {
        margin: 0 0.75rem;
        flex: 1;

        @media screen and (width <= 52rem) {
          display: none;
        }

        .ant-menu {
          @include use-theme {
            background: get-var('--yolo-card-bg');
          }

          display: flex;
          width: 100%;
          font-size: 1.125rem;
          border-bottom: none;

          li {
            @include use-theme {
              color: get-var('--yolo-text');
            }

            line-height: 3.75rem;

            &.ant-menu-item-selected a {
              color: #1677ff;
            }

            .ant-menu-submenu-title {
              @include use-theme {
                color: get-var('--yolo-text');
              }
            }
          }
        }
      }

      .header-right {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        line-height: 3.75rem;

        .ant-btn:nth-child(-n + 2),
        .ant-avatar {
          margin: 0 0.75rem;
        }

        .ant-flex,
        .ant-badge {
          margin-right: 0.75rem;
        }

        > .ant-btn:first-child,
        > .ant-btn:nth-child(2) {
          @include use-theme {
            color: get-var('--yolo-header-btn-text');
            background: get-var('--yolo-header-btn-bg');
            border-color: get-var('--yolo-header-btn-border');

            &:hover {
              border-color: get-var('--yolo-header-btn-border-hover');
            }
          }

          color: inherit;
          background-color: inherit;
          border-color: inherit;
        }

        > .ant-btn:first-child {
          width: 150px;
          padding: 0 0.5rem;
          justify-content: start;

          @media screen and (width <= 60rem) {
            display: none;
          }

          > span {
            font-size: 0.75rem;
          }
        }

        > .ant-btn:nth-child(2) {
          display: none;

          @media screen and (width <= 60rem) {
            display: block;
          }
        }

        .ant-badge {
          cursor: pointer;

          .anticon-bell {
            @include use-theme {
              color: get-var('--yolo-notify-icon');
            }

            font-size: 1.5rem;

            &.has-unread {
              @include use-theme {
                color: get-var('--yolo-has-unread-icon');
              }
            }
          }

          sup {
            top: -4px;
          }
        }

        .ant-avatar {
          cursor: pointer;
        }
      }
    }
  }

  .app-main {
    display: flex;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    flex: 1;
    flex-direction: column;

    .main-header {
      @include use-theme {
        background-color: get-var('--yolo-card-bg');
        box-shadow: 0 1px 2px 0 get-var('--yolo-main-header-shadow');
      }

      display: none;
      position: sticky;
      top: 3.75rem;
      left: 0;
      z-index: 30;
      width: 100vw;
      height: 2.875rem;
      text-align: center;
      transition: all 0.2s;
      transition: top 0.3s ease;
      transform: translateY(0);
      flex: 0 0 auto;
      margin-left: calc(50% - 50vw) !important;
      margin-right: calc(50% - 50vw) !important;
      overflow-x: auto;
      white-space: nowrap;

      @media screen and (width <= 75rem) {
        display: block !important;
      }

      .horizontal-category-nav {
        display: inline-block;
        height: 100%;
        white-space: nowrap;

        a {
          @include use-theme {
            color: get-var('--yolo-main-header-text');
          }

          display: inline-block;
          height: 100%;
          padding: 0 0.75rem;
          font-size: 0.875rem;
          line-height: 2.875rem;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            @include use-theme {
              color: get-var('--yolo-main-header-text-select');
            }
          }
        }

        .active-category {
          @include use-theme {
            color: get-var('--yolo-main-header-text-select');
          }
        }
      }

      &.sticky {
        top: 0;
        transition: top 0.05s ease;
      }
    }

    .main-content {
      display: flex;
      margin-top: 1.25rem;
      flex: 1;
      align-items: flex-start;

      .sidebar-left {
        @include use-theme {
          background: get-var('--yolo-card-bg');
        }

        position: sticky;
        top: 5rem;
        width: 11.25rem;
        max-height: calc(100vh - 6.3125rem);
        padding: 8px;
        border-radius: 4px;
        transition: top 0.3s ease;
        flex: 0 0 auto;
        margin-left: 1.25rem;
        overflow-x: hidden;

        @media screen and (width <= 75rem) {
          display: none;
        }

        .vertical-category-nav {
          a {
            @include use-theme {
              color: get-var('--yolo-sidebar-nav-text');
            }

            display: flex;
            z-index: 10;
            padding: 0.625rem 1.0625rem;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            align-items: center;
            cursor: pointer;

            i {
              margin-right: 0.75rem;
            }

            &:hover {
              @include use-theme {
                color: get-var('--yolo-category-text');
                background-color: get-var('--yolo-sidebar-nav-bg');
              }
            }
          }

          .active-category {
            @include use-theme {
              color: get-var('--yolo-category-text');
              background-color: get-var('--yolo-category-bg-click');
            }
          }
        }

        &.sticky {
          top: 1.25rem;
          max-height: calc(100vh - 2.5rem);
          transition: top 0.3s ease;
        }
      }

      .entry-list-content {
        flex: 1;
        margin: 0 1.25rem;
        overflow-x: hidden;

        header {
          @include use-theme {
            background-color: get-var('--yolo-card-bg');
          }

          display: flex;
          padding: 0.5rem 1.25rem;
          border-radius: 4px;
          line-height: normal;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.625rem;

          .list-nav {
            line-height: 1.75rem;

            .new-sort-btn,
            .hot-sort-btn {
              @include use-theme {
                color: get-var('--yolo-sort-text');
              }

              padding: 0 0.875rem;
              cursor: pointer;
            }

            .new-sort-btn {
              margin-left: -1.25rem;
            }

            .active-sort {
              @include use-theme {
                color: get-var('--yolo-sort-text-click');
              }

              font-weight: 500;
            }
          }

          .sub-tags {
            width: 9.375rem;
            height: 1.75rem;

            .ant-select-selector {
              cursor: pointer;

              .ant-select-selection-wrap {
                font-size: 0.75rem;
              }
            }
          }
        }
      }

      .sidebar-right {
        position: sticky;
        top: 5rem;
        width: 15rem;
        max-height: calc(100vh - 6.3125rem);
        transition: top 0.3s ease;
        flex: 0 0 auto;
        margin-right: 1.25rem;
        overflow: hidden;

        @media screen and (width <= 75rem) {
          &.sticky {
            top: 4rem !important;
            max-height: calc(100vh - 5.25rem) !important;
            transition: top 0.3s ease;
          }

          &:not(.sticky) {
            top: 7.875rem !important;
            max-height: calc(100vh - 9.125rem) !important;
            transition: top 0.3s ease;
          }
        }

        @media screen and (width <= 62.5rem) {
          display: none;
        }

        .author-info {
          @include use-theme {
            color: get-var('--yolo-text');
            background-color: get-var('--yolo-card-bg');
          }

          padding: 1.75rem 0.5rem 0.75rem;
          border-radius: 4px;
          text-align: center;
          margin-bottom: 1.25rem;

          .author-avatar {
            img {
              width: 90px;
              height: 90px;
              border-radius: 50%;
              transition: transform 0.3s ease;

              &:hover {
                transform: scale(1.1);
              }
            }
          }

          .author-name {
            margin: 0.875rem 0;
            font-size: 1.25rem;
            font-weight: 700;
          }

          .personal-signature {
            @include use-theme {
              color: get-var('--yolo-signature-text');
            }

            font-size: 0.75rem;
            line-height: 1.25rem;
            margin-bottom: 0.75rem;
          }

          .social-links {
            a {
              @include use-theme {
                background-color: get-var('--yolo-social-bg');
              }

              display: inline-flex;
              width: 2.25rem;
              height: 2.25rem;
              border-radius: 12px;
              font-size: 1.375rem;
              text-decoration: none;
              color: inherit;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:nth-child(n + 2) {
                margin-left: 0.625rem;
              }

              &.icon-github {
                @include use-theme {
                  color: get-var('--yolo-github-icon-text');

                  &:hover {
                    color: #fff;
                    background: #000;
                  }
                }
              }

              &.icon-gitee {
                @include use-theme {
                  color: get-var('--yolo-gitee-icon-text');

                  &:hover {
                    color: #fff;
                    background: #da3535;
                  }
                }
              }
            }
          }
        }

        .hot-list {
          // background: #fff;
          @include use-theme {
            color: get-var('--yolo-text');
            background-color: get-var('--yolo-card-bg');
          }

          padding: 0.75rem 0.5rem;
          border-radius: 4px;

          .hot-item-header {
            display: flex;
            padding: 0 0.5rem;
            margin-bottom: 0.75rem;
            justify-content: space-between;
            align-items: center;

            .hot-title {
              i {
                color: red;
              }

              .title-text {
                font-size: 1rem;
                font-weight: 500;
                margin-left: 0.5rem;
              }
            }

            .item-header-button {
              cursor: pointer;
              font-size: 0.75rem;
              color: #8a919f;

              &:hover {
                color: #1e80ff;
              }

              .header-button-text {
                margin-left: 4px;
              }
            }
          }

          .divider {
            box-sizing: border-box;
            width: 100%;
            height: 1px;
            margin-bottom: 4px;

            .content {
              height: 100%;
              margin: 0 0.5rem;
              background: rgb(228 230 235 / 50%);
            }
          }

          .hot-item-body {
            ul {
              list-style: none;
              margin: 0;
              padding: 0;

              li {
                display: flex;
                height: 1.375rem;
                padding: 0.5rem;
                border-radius: 4px;
                font-size: 0.875rem;
                align-items: center;

                &:hover {
                  @include use-theme {
                    background-color: get-var('--yolo-hot-item-bg-hover');
                  }
                }

                .body-index {
                  width: 1.5635rem;
                  line-height: 2.375rem;
                  text-align: left;
                  flex: 0 0 auto;
                }

                .hot-item-text {
                  flex: 1;
                  min-width: 0;
                  cursor: pointer;

                  a {
                    display: block;
                    line-height: 2.375rem;
                    text-decoration: none;
                    color: inherit;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }

        &.sticky {
          top: 1.25rem;
          max-height: calc(100vh - 2.5rem);
          transition: top 0.3s ease;
        }
      }
    }
  }
}

.article-preview-list {
  > .article-preview-list-item {
    @include use-theme {
      color: get-var('--yolo-text');
      background: get-var('--yolo-card-bg');

      &:hover {
        background: get-var('--yolo-card-bg-hover');
      }
    }

    margin-bottom: 0.625rem;
    display: flex;
    padding: 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;

    > .article-preview-info {
      flex: 1;

      .article-title {
        font-size: 1rem;
        font-weight: 600;
        line-height: 2.5rem;
      }

      .article-summary {
        display: -webkit-box;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .article-meta {
        display: flex;
        justify-content: space-between;

        .article-meta-info {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          list-style: none;

          .vertical-line {
            width: 1px;
            height: 1rem;
            margin: 0 1rem;
            background-color: #e4e6eb;
          }

          .article-view-count {
            margin-right: 1.5rem;

            .anticon-eye {
              margin-right: 0.5rem;
            }
          }

          .article-favorite-count {
            .anticon-star {
              margin-right: 0.5rem;
            }
          }
        }

        .article-tags {
          float: right;

          .article-tag-item:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .article-cover-image {
      display: flex;
      width: 150px;
      margin-left: 1rem;
      overflow: hidden;
      align-items: center;
      justify-content: center;

      > img {
        display: block;
        width: 100%;
        max-height: 100px;
        object-fit: cover;
      }
    }
  }
}
