@use './themes.scss' as *;
@import '../iconfont/iconfont.css';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'PingFang SC', 'Microsoft YaHei', sans-serif;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
}

/* stylelint-disable selector-max-id */
#root {
  width: 100%;
  height: 100%;
}
/* stylelint-enable selector-max-id */

.sub-tags-popup .ant-select-item-option-content {
  font-size: 12px;
  line-height: 20px;
}

.sidebar-drawer-collapsed {
  .ant-drawer-body {
    @include use-theme {
      color: get-var('--yolo-text');
      background: get-var('--yolo-drawer-bg');
    }

    padding: 0 0 0.75rem;

    .menu-nav-drawer {
      display: flex;
      flex-direction: column;
      height: 100%;

      .drawer-header {
        @include use-theme {
          background: get-var('--yolo-card-bg');
          box-shadow: get-var('--yolo-header-shadow');
        }

        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        z-index: 40;
        width: 100%;
        text-align: center;

        a {
          width: auto;
          line-height: 2.25rem;
          text-decoration: none;
          color: inherit;
          cursor: pointer;

          .blog-logo {
            width: 24px;
            height: 24px;
            vertical-align: middle;
          }

          .blog-name {
            padding-left: 0.75rem;
            font-size: 1rem;
            font-weight: bold;
          }
        }
      }

      .drawer-main {
        padding: 0.75rem;
        overflow-y: auto;

        .ant-menu {
          @include use-theme {
            background: get-var('--yolo-drawer-bg');
          }

          border-inline-end: none;

          .ant-menu-item,
          .ant-menu-submenu .ant-menu-submenu-title {
            @include use-theme {
              color: get-var('--yolo-sidebar-nav-text');
            }

            &:hover {
              @include use-theme {
                color: get-var('--yolo-category-text');
                background-color: get-var('--yolo-sidebar-nav-bg');
              }
            }
          }

          .ant-menu-item-selected {
            @include use-theme {
              color: get-var('--yolo-category-text');
              background-color: get-var('--yolo-category-bg-click');
            }
          }
        }
      }
    }

    .article-outline-drawer {
      display: flex;
      flex-direction: column;
      height: 100%;

      .drawer-header {
        @include use-theme {
          background: get-var('--yolo-card-bg');
          box-shadow: get-var('--yolo-header-shadow');
        }

        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        z-index: 40;
        width: 100%;
        font-size: 1rem;
        font-weight: bold;
        line-height: 3rem;
        text-align: center;
      }

      .drawer-main {
        overflow-y: auto;

        .ant-anchor-fixed {
          padding: 1rem 0.75rem 1rem 0;

          .ant-anchor-link-title {
            &:not(.ant-anchor-link-title-active) {
              @include use-theme {
                color: get-var('--yolo-sidebar-nav-text');

                &:hover {
                  color: #1677ff;
                }
              }
            }
          }

          .ant-anchor-link-title-active {
            color: #1677ff;
          }
        }

        .ant-anchor .ant-anchor-ink {
          width: 5px;
        }
      }
    }
  }
}

@include use-html-theme {
  color: get-var('--yolo-text');
  background: get-var('--yolo-bg');

  .ant-select-dropdown {
    color: get-var('--yolo-select-selected-text');
    background-color: get-var('--yolo-select-bg');

    .ant-select-item-option {
      color: get-var('--yolo-select-selected-text');

      &:hover,
      &.ant-select-item-option-active {
        background-color: get-var('--yolo-select-item-bg-hover');
      }

      &.ant-select-item-option-selected {
        color: get-var('--yolo-select-selected-text');
        background-color: get-var('--yolo-select-selected-bg');
      }
    }
  }

  .ant-select {
    border: 1px solid get-var('--yolo-select-border');
    border-radius: 6px;
    color: get-var('--yolo-select-text');
    background-color: get-var('--yolo-select-bg');

    &:hover {
      border-color: get-var('--yolo-select-border-hover');
    }

    &.ant-select-focused {
      border-color: get-var('--yolo-select-border-hover');
      box-shadow: 0 0 0 2px rgb(30 128 255 / 20%);
    }

    .ant-select-selector {
      border: none;
      border-radius: 6px;
      color: get-var('--yolo-select-text');
      background-color: get-var('--yolo-select-bg');
    }

    .ant-select-selection-placeholder {
      color: get-var('--yolo-select-placeholder');
    }

    .ant-select-arrow {
      color: get-var('--yolo-select-text');
    }

    // 下拉列表
    .ant-select-dropdown {
      background-color: get-var('--yolo-select-bg');

      .ant-select-item-option {
        color: get-var('--yolo-select-text');

        &:hover,
        &.ant-select-item-option-active,
        &.ant-select-item-option-selected {
          background-color: get-var('--yolo-select-item-bg-hover');
        }
      }
    }
  }

  .ant-menu-submenu-popup .ant-menu-sub.ant-menu-vertical {
    background-color: get-var('--yolo-select-bg');

    .ant-menu-item {
      color: get-var('--yolo-select-selected-text');

      a:hover {
        color: get-var('--yolo-select-selected-text');
      }

      &:hover,
      &.ant-menu-item-active {
        background-color: get-var('--yolo-select-item-bg-hover');
      }

      &.ant-menu-item-selected {
        color: get-var('--yolo-select-selected-text');
        background-color: get-var('--yolo-select-selected-bg');
      }
    }
  }

  .ant-dropdown {
    .ant-dropdown-arrow {
      &::after,
      &::before {
        border: 1px solid get-var('--yolo-dropdown-border');
        background: get-var('--yolo-dropdown-bg');
      }
    }

    .ant-dropdown-menu {
      border: 1px solid get-var('--yolo-dropdown-border');
      background: get-var('--yolo-dropdown-bg');

      .ant-dropdown-menu-item {
        color: get-var('--yolo-dropdown-text');

        &:hover {
          background: get-var('--yolo-dropdown-bg-hover');
        }

        &-selected {
          background: get-var('--yolo-dropdown-bg-active');
        }

        &-disabled {
          color: get-var('--yolo-dropdown-text-disabled');
        }
      }

      .ant-dropdown-menu-item-divider {
        border-color: get-var('--yolo-dropdown-driver');
      }
    }
  }
}
