@mixin article-preview-item-style {
  margin-bottom: 0.625rem;
  display: flex;
  padding: 1rem;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;

  > .article-preview-info {
    flex: 1;

    .article-title {
      font-size: 1rem;
      font-weight: 600;
      line-height: 2.5rem;
    }

    .article-summary {
      display: -webkit-box;
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .article-meta {
      display: flex;
      justify-content: space-between;

      .article-meta-info {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        .vertical-line {
          width: 1px;
          height: 1rem;
          margin: 0 1rem;
          background-color: #e4e6eb;
        }

        .article-view-count {
          margin-right: 1.5rem;

          .anticon-eye {
            margin-right: 0.5rem;
          }
        }

        .article-favorite-count {
          .anticon-star {
            margin-right: 0.5rem;
          }
        }
      }

      .article-tags {
        float: right;

        .article-tag-item:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .article-cover-image {
    display: flex;
    width: 150px;
    margin-left: 1rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    > img {
      display: block;
      width: 100%;
      max-height: 100px;
      object-fit: cover;
    }
  }
}
