@font-face {
  font-family: "iconfont"; /* Project id 5021745 */
  src: url('iconfont.woff2?t=1772192982101') format('woff2'),
       url('iconfont.woff?t=1772192982101') format('woff'),
       url('iconfont.ttf?t=1772192982101') format('truetype'),
       url('iconfont.svg?t=1772192982101#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-article-circle:before {
  content: "\e600";
}

.icon-favorite-circle:before {
  content: "\e613";
}

.icon-come-back:before {
  content: "\e670";
}

.icon-comment:before {
  content: "\e60d";
}

.icon-favorite:before {
  content: "\e8c6";
}

.icon-catalogs:before {
  content: "\e64a";
}

.icon-author-circle:before {
  content: "\e615";
}

.icon-category-circle:before {
  content: "\e603";
}

.icon-views-circle:before {
  content: "\e629";
}

.icon-release-time-circle:before {
  content: "\ea46";
}

.icon-tag-circle:before {
  content: "\100da";
}

.icon-comments-circle:before {
  content: "\e650";
}

.icon-github-circle:before {
  content: "\e64c";
}

.icon-gitee-circle:before {
  content: "\e675";
}

.icon-hot-article:before {
  content: "\e69e";
}

.icon-ios:before {
  content: "\e61f";
}

.icon-android:before {
  content: "\e881";
}

.icon-ai:before {
  content: "\e7a4";
}

.icon-backend:before {
  content: "\e7a7";
}

.icon-cloud-ops:before {
  content: "\e6e8";
}

.icon-frontend:before {
  content: "\e60c";
}

.icon-cybersecurity:before {
  content: "\e601";
}

.icon-other:before {
  content: "\e602";
}

