@font-face {
  font-family: "iconfont"; /* Project id 5021745 */
  src: url('iconfont.woff2?t=1761811328833') format('woff2'),
       url('iconfont.woff?t=1761811328833') format('woff'),
       url('iconfont.ttf?t=1761811328833') format('truetype'),
       url('iconfont.svg?t=1761811328833#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e60d";
}

.icon-favorite:before {
  content: "\e8c6";
}

.icon-catalogs:before {
  content: "\e64a";
}

.icon-author:before {
  content: "\e615";
}

.icon-category:before {
  content: "\e603";
}

.icon-views:before {
  content: "\e629";
}

.icon-release-time:before {
  content: "\ea46";
}

.icon-tag:before {
  content: "\100da";
}

.icon-comments:before {
  content: "\e650";
}

.icon-github:before {
  content: "\e64c";
}

.icon-gitee:before {
  content: "\e675";
}

.icon-hot-article:before {
  content: "\e69e";
}

.icon-ios:before {
  content: "\e61f";
}

.icon-android:before {
  content: "\e881";
}

.icon-ai:before {
  content: "\e7a4";
}

.icon-backend:before {
  content: "\e7a7";
}

.icon-cloud-ops:before {
  content: "\e6e8";
}

.icon-frontend:before {
  content: "\e60c";
}

.icon-cybersecurity:before {
  content: "\e601";
}

.icon-other:before {
  content: "\e602";
}

